.Card {
  box-shadow: rgba(60, 64, 67, 0.08) 0px 1px 1px 0px, 
    rgba(60, 64, 67, 0.16) 0px 1px 3px 1px;
  border-radius: 0 6px 6px 0; 
  display: inline-block;
  margin: 10px;
  
  width: 100%;
  max-width: 400px;
  
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-content: stretch;
  align-items: stretch;
  
  .text {
    padding: 5px;
  }
}
