.Card {
  box-shadow: rgba(60, 64, 67, 0.08) 0px 1px 1px 0px, 
    rgba(60, 64, 67, 0.16) 0px 1px 3px 1px;
  border-radius: 0 6px 6px 0; 
  display: inline-block;
  margin: 10px;
  
  width: 100%;
  max-width: 400px;
  
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-content: stretch;
  align-items: stretch;
  
  .text {
    padding: 5px;
  }
  
  position: relative;
  
  .badge {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 2px 4px 0 2px;
    border-top-right-radius: 2px;
  }
}
